@import "@/styles/variable.scss";

.mainContainer {
  width: 100%;

.headerWrap {
  @include flex;
  @include col;
  @include sb;
  width: 100%;
  height: 288px;
  background-color: #f9f9f9;
  .titleWrap {
    @include flex;
    @include col;
    @include top;
    padding-top: 80px;
    width: 880px;
    margin: 0 auto;
    .title {
      font-size: 30px;
      font-weight: 800;
      margin-bottom: 18px;
      color: #000;
    }
    .desc {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: -0.06px;
      color: #2a2a2a;
    }
  }
  .stepWrap {
    @include flex;
    @include sb;
    width: 880px;
    margin: 0 auto;
    div {
      @include flex;
      width: 220px;
      padding-bottom: 10px;
      box-sizing: border-box;
      border-bottom: 2px solid transparent;
      font-size: 14px;
      font-weight: 400;
      color: #aaa;
      cursor: pointer;
      &:hover,
      &.active {
        font-size: 14px;
        font-weight: 600;
        color: #000;
        border-bottom: 2px solid #000;
      }
    }
  }
}
}
.sectionContents {
  background-color: #fff;
  width: 880px;
  margin: 0 auto;
  .btnWrap {
    @include flex;
    column-gap: 20px;
    padding-top: 120px;
    padding-bottom: 120px;
    .btn {
      @include btnform;
      width: 140px;
      height: 42px;
      border: 1px solid transparent;
      border-radius: 3px;
      background-color: #1363DF;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      &.white {
        background-color: #fff;
        border: 1px solid #E8ECF2;
        color: #aaa;
      }
    }
    .blue:hover {
      background: #003B97;
    }
  }
  .boundaryLine {
    padding-top: 40px;
    border-bottom: 1px solid #B6BDC4;
  }
  .section {
    padding-top: 120px;
    .sectionTitle {
      @include flex;
      @include fs;
      font-size: 20px;
      font-weight: 600;
      color: #000;
      line-height: 24.2px;
      &.final {
        font-size: 30px;
        margin-bottom: 80px;
      }
      span {
        font-weight: 400;
        color: #1363df;
        margin-right: 14px;
      }
    }
    .sectionDesc {
      font-size: 14px;
      font-weight: 400;
      color: #000;
      margin-top: 20px;
      margin-bottom: 80px;
    }
    .form {
      padding-top: 60px;
      &.select {
        @include flex;
        @include fs;
        column-gap: 20px;
        .label {
          margin-bottom: 0;
        }
        .desc {
          margin-bottom: 0;
        }
      }
      &.final {
        padding-top: 0px;
      }
      .label {
        font-size: 18px;
        font-weight: 400;
        color: #000;
        margin-bottom: 14px;
        &.hasDesc {
          margin-bottom: 8px;
        }
        &.final {
          font-size: 14px;
          color: #1363DF;
        }
      }
      .desc {
        margin-bottom: 14px;
        font-size: 12px;
        font-weight: 400;
        color: #aaa;
      }
      input[type="text"],
      textarea {
        width: 100%;
        box-sizing: 100%;
        border: 1px solid #B6BDC4;
        border-radius: 3px;
        padding: 10px;
        font-size: 12px;
        color: #000;
        resize: none;
        outline: 0 none;
        &::placeholder {
          font-family: Pretendard;
          color: #aaaaaa;
        }
      }
      input[type="text"]:focus,
      textarea:focus {
        border: 1px solid var(--main-color, #1363DF);
      }
      textarea {
        height: 110px;
      }
      .selectBoxWrap {
        width: 240px;
      }
      .editorWrap{
        .editor {
          height: 300px;
          border: 1px solid #B6BDC4;
          padding: 10px;  
          resize: vertical;
        }
      }
    }
    .finalContent {
      font-size: 20px;
    }
  }
  .uploadWrap {
    input[type="file"] {
      display: none;
    }
    .uploadBox {
      width: 100%;
      height: 140px;
      border: 1px solid #B6BDC4;
      border-radius: 3px;
      padding: 24.5px 10px;
      &.uploaded {
        padding: 10px;
      }
      .dropZone {
        @include flex;
        @include col;
        row-gap: 20px;
        .uploadTxt {
          font-size: 12px;
          font-weight: 400;
          color: #aaa;
        }
        .uploadIcon {
          @include background;
          display: block;
          width: 57px;
          height: 57px;
          background-image: url("/images/icon-fild-dnd.png");
          cursor: pointer;
        }
        .uploadList {
          @include flex;
          @include fs;
          @include top;
          width: 100%;
          column-gap: 10px;
          row-gap: 10px;
          .filename {
            @include flex;
            padding: 5px;
            background-color: #B6BDC4;
            border-radius: 3px;
            color: #000;
            font-size: 14px;
            line-height: 18px;
            cursor: pointer;
            .delete {
              display: none;
            }
            &:hover {
              .delete {
                @include flex;
                font-size: 10px;
                line-height: 10px;
                color: #fff;
                background-color: #ff0000;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                cursor: pointer;
                position: absolute;
                right: -5px;
                top: -5px;
              }
            }
          }
        }
      }
    }
  }
}

.tableContainer {
  .tableTitleWrap {
    @include flex;
    @include sb;
    margin-bottom: 14px;
    .tableTitle {
      @include flex;
      @include fs;
      @include bottom;
      column-gap: 8px;
      font-size: 18px;
      color: #000;
      span {
        @include background;
        display: inline-block;
        width: 24px;
        height: 24px;
        cursor: pointer;
        position: relative;
        background-image: url("/images/icon-text-info.png");
        // Tooltip styling
        .tooltip {
          visibility: hidden;
          opacity: 0;
          width: 500px;
          height: auto;
          background-color: #ffffff;
          color: #2A2A2A;
          text-align: left;
          padding: 20px;
          border-radius: 8px;
          position: absolute;
          top: 10%; // Vertically center relative to the span
          left: 200%; // Position the tooltip to the right of the span
          transform: translateY(-15%); // Adjust vertical alignment
          transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; 
          z-index: 1;
          box-shadow: 0px 0px 20px 10000px #A5ABBA4D;
          font-family: Pretendard;
          font-size: 14px;
          font-weight: 400;
          line-height: 16.71px;
          letter-spacing: -0.06400000303983688px;
          text-align: left;          
          // Tooltip arrow
          &::after  {
            content: "";
            position: absolute;
            top: 15%;
            left: -20px; // Adjust based on desired position
            transform: translateY(0%);
            width: 0;
            height: 0;
            border-left: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 20px solid #fff; // This creates the sharp arrow pointing right
          }
          li {
            padding-left: 20px;
            list-style-position: inside;
            text-indent: -20px;
          }
        }
        // Hover effect
        &:hover .tooltip {
          visibility: visible;
          opacity: 1;
        }
        span:not(:hover) .tooltip {
          visibility: hidden;
          opacity: 0;
        }
      }
      &.final {
        font-size: 14px;
        color: #1363DF;
      }
    }
    .tableInfo {
      font-size: 12px;
      color: #aaa;
    }
  }
  .tableContentsWrap {
    .xScrollContainer{
      border-radius: 4px;
      border: 1px solid #E8ECF2;}
    .xScroll {
      overflow-y: hidden;
      overflow-x: auto;
      &::-webkit-scrollbar {
        height: 6px; /* 스크롤바의 너비 */
      }

      &::-webkit-scrollbar-thumb {
        height: 30%; /* 스크롤바의 길이 */
        background: #ccc; /* 스크롤바의 색상 */

        border-radius: 10px;
      }

      &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.1); /*스크롤바 뒷 배경 색상*/
      }
      .blueText {
        color: #1363df;
      }
    }
    table {
      width: 100%;
      border-collapse: collapse;
      &.years10 {
        width: 1600px;
        table-layout: fixed;
        th,
        td {
          width: auto;
        }
      }
      th,
      td {
        width: calc(100% / 3);
        font-size: 14px;
        font-weight: 400;
        color: #000;
        padding: 10px;
        border: 1px solid #E8ECF2;
        text-align: center;
        &.em {
          color: #1363df;
          background-color:  #fff;
        }
        &.remk {
          background-color: rgba(232, 236, 242, 0.2);
        }
      }
      thead {
        th {
          font-weight: 800;
          background-color: rgba(232, 236, 242, 0.5);
        }
      }
      tbody {
        th {
          background-color: rgba(232, 236, 242, 0.2);
        }
        td {
          background-color: #fff;
          height: 38px;
          &.em {
            font-weight: 800;
            color: #1363df;
          }
          span {
            @include background;
            display: inline-block;
            width: 24px;
            height: 24px;
            cursor: pointer;
            position: relative;
            vertical-align: middle;
            background-size: 24px 24px;
            background-position: center;
            background-image: url("/images/icon-text-info.png");
            .tooltip {
              visibility: hidden;
              opacity: 0;
              width: 500px;
              height: auto;
              background-color: #ffffff;
              color: #2A2A2A;
              text-align: left;
              padding: 20px;
              border-radius: 8px;
              position: absolute;
              top: 0%; // Vertically center relative to the span
              left: 200%; // Position the tooltip to the right of the span
              transform: translateY(-13%); // Adjust vertical alignment
              transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; 
              z-index: 1;
              box-shadow: 0px 0px 20px 10000px #A5ABBA4D;
              font-family: Pretendard;
              font-size: 14px;
              font-weight: 400;
              line-height: 16.71px;
              letter-spacing: -0.06400000303983688px;
              text-align: left;          
              // Tooltip arrow
              &::after  {
                content: "";
                position: absolute;
                top: 15%;
                left: -20px; // Adjust based on desired position
                transform: translateY(0%);
                width: 0;
                height: 0;
                border-left: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 20px solid #fff; // This creates the sharp arrow pointing right
              }
              li {
                padding-left: 20px;
                list-style-position: inside;
                text-indent: -20px;
              }
            }
            // Hover effect
            &:hover .tooltip {
              visibility: visible;
              opacity: 1;
            }
            span:not(:hover) .tooltip {
              visibility: hidden;
              opacity: 0;
            }
          }
        }
        .total {
          font-weight: 800;
          background-color: rgba(232, 236, 242, 0.5);
          &.em {
            color: #1363df;
          }
          span {
            @include background;
            display: inline-block;
            width: 24px;
            height: 24px;
            cursor: pointer;
            position: relative;
            vertical-align: middle;
            background-size: 24px 24px;
            background-position: center;
            background-image: url("/images/icon-text-info.png");
            .tooltip {
              visibility: hidden;
              opacity: 0;
              width: 500px;
              height: auto;
              background-color: #ffffff;
              color: #2A2A2A;
              text-align: left;
              padding: 20px;
              border-radius: 8px;
              position: absolute;
              top: 9%; // Vertically center relative to the span
              left: 200%; // Position the tooltip to the right of the span
              transform: translateY(-13%); // Adjust vertical alignment
              transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; 
              z-index: 1;
              box-shadow: 0px 0px 20px 10000px #A5ABBA4D;
              font-family: Pretendard;
              font-size: 14px;
              font-weight: 400;
              line-height: 16.71px;
              letter-spacing: -0.06400000303983688px;
              text-align: left;          
              // Tooltip arrow
              &::after  {
                content: "";
                position: absolute;
                top: 15%;
                left: -20px; // Adjust based on desired position
                transform: translateY(0%);
                width: 0;
                height: 0;
                border-left: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 20px solid #fff; // This creates the sharp arrow pointing right
              }
              li {
                padding-left: 20px;
                list-style-position: inside;
                text-indent: -20px;
              }
            }
            // Hover effect
            &:hover .tooltip {
              visibility: visible;
              opacity: 1;
            }
            span:not(:hover) .tooltip {
              visibility: hidden;
              opacity: 0;
            }
          }
        }
        .thWrap {
          @include flex;
          column-gap: 2px;
          span {
            @include background;
            display: inline-block;
            width: 24px;
            height: 24px;
            cursor: pointer;
            position: relative;
            background-image: url("/images/icon-text-info.png");
            .tooltip {
              visibility: hidden;
              opacity: 0;
              width: 500px;
              height: auto;
              background-color: #ffffff;
              color: #2A2A2A;
              text-align: left;
              padding: 20px;
              border-radius: 8px;
              position: absolute;
              top: 10%; // Vertically center relative to the span
              left: 200%; // Position the tooltip to the right of the span
              transform: translateY(-13%); // Adjust vertical alignment
              transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; 
              z-index: 1;
              box-shadow: 0px 0px 20px 10000px #A5ABBA4D;
              font-family: Pretendard;
              font-size: 14px;
              font-weight: 400;
              line-height: 16.71px;
              letter-spacing: -0.06400000303983688px;
              text-align: left;          
              // Tooltip arrow
              &::after  {
                content: "";
                position: absolute;
                top: 15%;
                left: -20px; // Adjust based on desired position
                transform: translateY(0%);
                width: 0;
                height: 0;
                border-left: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 20px solid #fff; // This creates the sharp arrow pointing right
              }
              li {
                padding-left: 20px;
                list-style-position: inside;
                text-indent: -20px;
              }
            }
            // Hover effect
            &:hover .tooltip {
              visibility: visible;
              opacity: 1;
            }
            span:not(:hover) .tooltip {
              visibility: hidden;
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

.inputContainer {
  margin-top: 40px;
  .inputHeader {
    @include flex;
    @include fe;
    width: 100%;
    margin-bottom: 12px;
    &.left {
      @include fs;
      .title {
        color: #000;
        font-size: 18px;
        padding: 8.5px 0 3.5px 0;
      }
    }
    .btnInput {
      font-size: 14px;
      font-weight: 600;
      color: #1363df;
      padding: 10px;
      cursor: pointer;
    }
  }
  .inputWrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 92px;
    row-gap: 18px;
    &.cnt {
      column-gap: 150px;
      .inputItem {
        column-gap: 20px;
        .title {
          width: 105px;
        }
      }
    }
    .inputItem {
      @include flex;
      @include sb;
      column-gap: 2px;
      .iconInfo {
        @include background;
        width: 24px;
        height: 24px;
        background-image: url("/images/icon-text-info.png");
        cursor: pointer;
        // Tooltip styling
        .tooltip {
          visibility: hidden;
          opacity: 0;
          width: 500px;
          height: auto;
          background-color: #ffffff;
          color: #2A2A2A;
          text-align: left;
          padding: 20px;
          border-radius: 8px;
          position: absolute;
          top: 18%; // Vertically center relative to the span
          left: 12%; // Position the tooltip to the right of the span
          transform: translateY(-13%); // Adjust vertical alignment
          transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; 
          z-index: 1;
          box-shadow: 0px 0px 20px 10000px #A5ABBA4D;
          font-family: Pretendard;
          font-size: 14px;
          font-weight: 400;
          line-height: 16.71px;
          letter-spacing: -0.06400000303983688px;
          text-align: left;          
          // Tooltip arrow
          &::after  {
            content: "";
            position: absolute;
            top: 13%;
            left: -20px; // Adjust based on desired position
            transform: translateY(0%);
            width: 0;
            height: 0;
            border-left: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 20px solid #fff; // This creates the sharp arrow pointing right
          }
          li {
            padding-left: 20px;
            list-style-position: inside;
            text-indent: -20px;
          }
        }
        // Hover effect
        &:hover .tooltip {
          visibility: visible;
          opacity: 1;
        }
        span:not(:hover) .tooltip {
          visibility: hidden;
          opacity: 0;
        }
      }
      .title {
        width: 100px;
        font-size: 14px;
        color: #000;
      }
        .inputText{
          width: 100%;
          height: auto;
          box-sizing: 100%;
          font-size: 14px;
          color: #000;
          resize: none;
          outline: 0 none;
          &::placeholder {
            font-family: Pretendard;
            color: #aaaaaa;
          }
        }
        .inputText:focus {
          border: 1px solid #1363DF;
        }
        .inputNumber {
          width: 240px;
          box-sizing: 100%;
          border: 1px solid #B6BDC4;
          border-radius: 3px;
          padding: 10px;
          font-size: 14px;
          color: #000;
          resize: none;
          outline: 0 none;
          &::placeholder {
            font-family: Pretendard;
            color: #aaaaaa;
          }
        }
        .inputNumber:focus {
          border: 1px solid #1363DF;
        }
        .inputTextarea{
          width: 100%;
          height: auto;
          resize: none;
          align-content: center;
          box-sizing: border-box; /* 패딩 포함 너비 계산 */
          font-size: 14px;
          color: #000;
          resize: none;
          &::placeholder {
            font-family: Pretendard;
            color: #aaaaaa;
          }
        }
        .inputTextarea:focus {
          border: 1px solid #1363DF;
        }
      .iconRemove {
        @include background;
        width: 24px;
        height: 24px;
        cursor: pointer;
        background-image: url("/images/icon-text-delete.png");
        &.hidden {
          visibility: hidden;
        }
      }
    }
  }
}

.totalContainer {
  @include flex;
  @include sb;
  @include top;
  padding: 40px 0;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  border-bottom: 1px solid #B6BDC4;
  margin-bottom: 80px;
  .title {
    span {
      font-weight: 400;
      color: #aaa;
    }
  }
  .amount {
    @include flex;
    @include fe;
    font-size: 20px;
    font-weight: 400;
    span {
      font-weight: 600;
      color: #1363df;
      margin-right: 6px;
    }
  }
  .amounts {
    width: calc(100% - 180px);
    .item {
      @include flex;
      @include sb;
      &:not(:last-child) {
        margin-bottom: 18px;
      }
      div {
        @include flex;
        @include sb;
        span {
          font-weight: 600;
          color: #1363df;
          margin-right: 6px;
        }
      }
      .minusValue{
        color: #DF1316;
      }
    }
  }
  &.final {
    margin-bottom: 0px;
  }
}

.listContainer {
  display: flex;            
  align-items: center;
  flex-direction: column;
  width: Fixed (1,920px)px;
  height: Hug (564px)px;
  padding: 40px 20px 40px 20px;
  gap: 20px;
  
  table {
    border-radius: 10px;
    width: 75%;
    height: Hug (60px)px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border: 1px solid #E8ECF2;
    border-collapse: collapse;
    .tableTitle {
      padding: 10px 16px 10px 16px;
      height: 60px;
      background: #F6FAFF;
    }
    td {
      border-top: 1px solid #F5F5F5;
      padding: 20px 15px 20px 15px;   
      cursor: pointer;
    }
    .longText {
      max-width: 150px; 
      white-space: nowrap; 
      overflow: hidden; 
      text-overflow: ellipsis; 
    }
    .shortText {
      max-width: auto;
    }
    .statusContainer {            
      justify-content: center;    
      align-items: center;        
    }
    .status {
      width: 58px;
      height: 28px;
      line-height: 28px; 
      border-radius: 6px;
      font-weight: bold;
      &.doing {
        background: #1363DF1A;
        color:  #1363DF;
      }
      &.done {
        background: #E8E8E8;
        color: #555555;
      }
    }
    tbody tr:hover {
      color: #1363DF;
    }
    .delBtn {
      justify-content: center;    
      align-items: center;   
      width: 45px;
      height: 34px;
      border-radius: 6px ;
      font-family: Pretendard;
      font-size: 14px;
      font-weight: 500;
      line-height: 16.71px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #373E44;
      border: 1px solid #B6BDC4;
    }
    .delBtn:hover{
      border: 1.5px solid #B6BDC4;
    }
  }
}

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0 80px 0;

  ul {
    display: flex; /* ul 내부의 li들을 가로로 배치 */
    padding: 0;
    list-style: none;
    height: 24px; 
    gap: 10px;
  
    li {
      width: 10px;
      height: 10px;
      color: #C4C4C4;
      
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 14px;
      }
      :hover {
        color: #1363DF;
      }
    }
    .activeClasse {
      color: #1363DF;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  .pageItem {
    width: 36px;
    height: 36px;
    border-radius: 6px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #78829D;
    cursor: pointer;
  }
  .pageItem.active {
    color: white;
    background: var(--main-color, #1363DF);
  }
  .pageItem:hover {
    color: var(--main-color, #1363DF);
    background: #1363DF1A;
  }
  .paginationLeft {
    @include background;
    width: 36px;
    height: 36px;
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/images/icon-modal-page-left.svg");
    cursor: pointer;
  }
  .paginationRight {
    @include background;
    width: 36px;
    height: 36px;
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/images/icon-modal-page-right.svg");
    cursor: pointer;
  }
}


.searchContainer {
  display: flex;
  align-items: center; 
  justify-content: right;
  gap: 20px; 
  width: 70%;

  .selectBoxTitle {
    width: Hug (89px)px;
    height: Fixed (40px)px;
    padding: 10px 0px 0px 0px;
    gap: 10px;
    
    font-size: 14px;
    color: #636F7A;
  }

  .selectBox {
    width: 100px;
    height: Fixed (40px)px;
    padding: 10px 0px 0px 0px;
    font-size: 14px;
    border-radius: 3px;
  }

  .searchWrap {
    position: relative;
    padding: 10px 0px 0px 0px;
    input {
      width: 320px;
      height: Fixed (40px)px;
      border-radius: 3px;
      box-sizing: border-box;
      border: 1px solid #B6BDC4;
      padding: 10px 10px;
      color: #000;
      font-size: 14px;
      &::placeholder {
        font-family: Pretendard;
        color: #aaaaaa;
      }
    }
    .iconSearch {
      @include background;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 20px;
      right: 10px;
      cursor: pointer;
      background-image: url("/images/icon-search-gnb.png");
    }
  }
}

/* 아이디어 설명 */
.ideaContents {
  background-color: #ffffff;
  border-bottom: 1px solid #DFDFDF;
  @include flex;
  .headerWrap {
    @include flex;
    height: 356.31px;
    width: 100%;
    padding: 80px 0px 0px 0px;
    gap: 34px;
    background-color: #F9F9F9;
    border-bottom: 1px solid #F9F9F9;
    .titleWrap {
      display: flex;     
      width: 1020px;
      justify-content: left;
      gap: 20px;               /* 이미지와 텍스트 사이 간격 */
      .titleImg {
        img {
          @include background;
          width: 420px;
          height: 236.31px;
          border-radius: 8px;
          border: 1px 0px 0px 0px;
          
          border: 1px solid #F5F5F5;
          margin-bottom: 40px;
        }
      }
      .title {
        font-family: Pretendard;
        font-size: 28px;
        font-weight: 700;
        line-height: 33.41px;
        text-align: left;
        color: #000000;
        margin-bottom: 26px;
      }
      .desc {
        font-family: Pretendard;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.09px;
        text-align: left;
        color: #2A2A2A;
        margin-bottom: 26px;
        display: -webkit-box;            /* Flexbox처럼 동작 */
        -webkit-box-orient: vertical;    /* 세로 방향으로 텍스트 배치 */
        -webkit-line-clamp: 3;           /* 최대 줄 수 (3줄까지만 표시) */
        overflow: hidden;                /* 넘치는 텍스트 숨김 */
        text-overflow: ellipsis;         /* 말줄임표(...) 표시 */
      }
      .divCd {
        display: inline-block;
        height: 28px;
        padding: 5px 8px 3px 8px;
        gap: 10px;
        border-radius: 6px;  
        background: #E8E8E8; 
        font-family: Pretendard;
        font-size: 14px;
        font-weight: 600;
        text-align: left;     
      }
    }
  }

  .stepWrap {
    @include flex;
    justify-content: left;
    width: 1020px;
    div {
      @include flex;
      display: inline-block;
      padding: 14px 20px 14px 20px;
      padding-bottom: 10px;
      box-sizing: border-box;
      border-bottom: 2px solid transparent;
      font-size: 16px;
      font-weight: 500;
      font-family: Pretendard;
      color: #616161;
      gap: 20px;
      cursor: pointer;
      &:hover,
      &.active {
        font-size: 16px;
        font-weight: 500;
        color: #1363DF;
        border-bottom: 2px solid #1363DF;
      }
    }
  }
}

.ideaContentsContainer {
  display: flex;
  justify-content: center;
  padding: 20px 0px 20px 0px;
  gap: 20px;
  
  .contentsMainWrap {
    width: 680px;
    height: Hug (1,702px)px;
    padding: 20px 0px 40px 0px;
    gap: 40px;
    color: #1A1A1A;
    .title {
      font-family: Pretendard;
      font-size: 24px;
      font-weight: 800;
      line-height: 28.64px;
      text-align: left;
      margin-bottom: 10px;
    }
    .ideaSummery {
      font-family: Pretendard;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.09px;
      text-align: left;  
      margin-top: 10px;
      margin-bottom: 20px;    
    }
    .ideaDetail {
      font-family: Pretendard;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      margin-bottom: 20px;    
    }
    .ideaVideo {
      cursor: pointer;
      width: 680px;
      height: 382px;     
      margin-bottom: 40px; 
      background-image: url("/images/img_live_streaming.png");
    }
    .attachWrap {
      width: Fixed (680px)px;
      padding: 10px 12px 10px 12px;
      border-radius: 4px;
      border: 1px 0px 0px 0px;
      border: 1px solid #E1E1E1;
      margin-bottom: 40px;    
    }
    .attachArryWrap {
      display: flex;
      cursor: pointer;
    }
    .attachFileIcon {
      width: 20px;
      height: 20px;      
      display: inline-block;
      background-image: url("/images/ideaContents_file_icon.png");
    }
    .teamMemberWrap {
      border-top: 1px solid #B6BDC4;
      height: Hug (380px)px;
      padding: 40px 0px 40px 0px;
      gap: 117px;
      border: 1px 0px 0px 0px;
            
      width: 680px;
      // overflow-x: auto;          
      // white-space: nowrap;     
    }
    .teamMemberArry {
      display: inline-flex;
      margin-bottom: 20px;   
      flex-wrap: wrap;  
      .memberWrap {
        display: flex;
        flex-direction: column;
        align-items: center;     /* 수직 중앙 정렬 */
        width: 220px;
        margin-bottom: 20px;   
      }
      .memberImg {
        width: 120px;
        height: 120px;
        border-radius: 60px;
        border: 1px 0px 0px 0px;
        
        border: 1px solid #DFDFDF;
        background: #FFFFFF;
        margin: 10px;
      }
      .memberName {
        height: 28px; 
        font-family: Pretendard;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -0.07999999821186066px;
        text-align: center;
        margin: 10px;
      }
      .memberPositonWrap{
        display: flex;
        justify-content: center;  /* 포지션들도 가로로 중앙 정렬 */
        flex-wrap: wrap;          /* 포지션이 많을 경우 줄바꿈 처리 */
      }
      .memberPosition{
        display: inline-block;
        height: Fixed (28px)px;
        padding: 3px 8px 3px 8px;
        margin: 3px;
        border-radius: 4px;
        
        background: #E8E8E8;
        font-family: Pretendard;
        font-size: 14px;
        font-weight: 700;
        line-height: 16.71px;
        text-align: center;
        color: #555555;
      }
    }
  }
  .contentsSideWrap {
    width: 320px;
    height: 883.52px;
    padding: 0px 0px 40px 0px;
    .side1 {
      width: Hug (320px)px;
      height: 259.52px;
      padding: 22px 24px 22px 24px;
      border-radius: 8px;
      border: 1px 0px 0px 0px;
      
      background: #FEFEFE;
      border: 1px solid #E8ECF2;
      box-shadow: 0px 6px 16px 0px #A5ABBA4D;
      margin-bottom: 10px;
      .statusWrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
        .statusComponent {
          display: flex;
          flex-direction: column;
          align-items: center;     
          width: 63px;
          font-size: 12px;
          font-weight: 400;
          line-height: 14.32px;
          text-align: center;
          .statusImg {
            width: 24px;
            height: 24px;
            padding: 2px 0px 0px 0px;
            margin-bottom: 10px;
            &.bookmark{
            background-image: url("/images/ideaContents-bookmark.png");
            }
            &.viewsCnt{
            background-image: url("/images/ideaContents-look.png");
            }
            &.updateDt{
            background-image: url("/images/ideaContents-check.png");
            }
          }
        }
      }
      .btn{
        width: Fill (272px)px;
        height: Fixed (42px)px;
        padding: 9px 20px 9px 20px;
        border-radius: 6px;
        border: 1px 0px 0px 0px;
        
        font-family: Pretendard;
        font-size: 14px;
        font-weight: 600;
        line-height: 16.71px;
        text-align: center;
        margin: 10px 0 0px 0;
        transition: background-color 0.3s ease;
        cursor: pointer;
        &.whithBtn {
          background: #FFFFFF;
          border: 1px solid var(--main-color, #1363DF);
          color: var(--main-color, #1363DF);
        }
        &.blueBtn {
          background: #1363DF;
          border: 1px solid var(--main-color, #1363DF);
          color:  #FFFFFF;
        }
        &.whithBtn:hover {
          background: #1363DF1A;
        }
        &.blueBtn:hover {
          background: #003B97;
        }
      }
      .bookMarkShareWrap{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 25px 0 25px;
        margin-top: 25px;
        .iconWrap{
          display: flex;
          align-items: center;     
          font-family: Pretendard;
          font-size: 14px;
          font-weight: 400;
          text-align: center;      
          color: #616161;
        }
        .iconImg{
          width: 20px;
          height: 20.02px;
          padding: 2.01px 3px 3.01px 3px;
          margin-right: 5px;
          &.bookmark {
            background-image: url("/images/ideaContents-bookmark-btn.png");
          }
          &.share {
            background-image: url("/images/ideaContents-share-btn.png");
          }
        }
      }
    }
    .side2 {
      width: Hug (320px)px;
      height: Hug (184px)px;
      padding: 22px 24px 22px 24px;
      gap: 30px;
      
      width: Hug (320px)px;
      height: Hug (184px)px;
      padding: 22px 24px 22px 24px;
      gap: 30px;
      border-radius: 8px;
      
      box-shadow: 0px 6px 16px 0px #A5ABBA4D;
      background: #FFFFFF;
      margin-bottom: 10px;
      .sideTitle {
        font-family: Pretendard;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        color: #424242;
      }
      table {
        width: 100%;
        td {
          padding-top: 10px;
          color: #616161;
          font-family: Pretendard;
          font-size: 14px;
          line-height: 16.41px;
          text-align: left;
        }
        .tableRight {
          text-align: right;
        }
      }
    }
    .side3 {
      width: Hug (320px)px;
      height: Hug (372px)px;
      padding: 22px 24px 22px 24px;
      gap: 20px;
      border-radius: 8px;
      border: 1px 0px 0px 0px;
      
      background: #FFFFFF;
      border: 1px solid #E8ECF2;
      box-shadow: 0px 6px 16px 0px #A5ABBA4D;
      .sideTitle {
        font-family: Pretendard;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        color: #424242;
      }
      table {
        width: 100%;
        td {
          padding-top: 10px;
          color: #616161;
          font-family: Pretendard;
          font-size: 14px;
          line-height: 16.41px;
          text-align: left;
        }
        .tableRight {
          font-family: Pretendard;
          font-size: 18px;
          font-weight: 700;
          line-height: 21.48px;
          text-align: right;
          color: #1363DF;
        }
      }
      .btn{
        width: Fill (272px)px;
        height: Fixed (42px)px;
        padding: 9px 20px 9px 20px;
        gap: 10px;
        border-radius: 6px;
        border: 1px 0px 0px 0px;
        
        font-family: Pretendard;
        font-size: 14px;
        font-weight: 600;
        line-height: 16.71px;
        text-align: center;
        margin: 10px 0 1px 0;
        transition: background-color 0.3s ease;
        cursor: pointer;
        &.whithBtn {
          background: #FFFFFF;
          border: 1px solid var(--main-color, #1363DF);
          color: var(--main-color, #1363DF);
        }
        &.blueBtn {
          background: #1363DF;
          border: 1px solid var(--main-color, #1363DF);
          color:  #FFFFFF;
        }
        &.whithBtn:hover {
          background: #1363DF1A;
        }
        &.blueBtn:hover {
          background: #003B97;
        }
      }
    }
  }
}

.investContentsContainer {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  flex-direction: column; /* 수직 정렬을 위한 컬럼 방향 */
  align-items: center;      /* 필요에 따라 수직 중앙 정렬 */
  width: 100%;              /* 부모 컨테이너의 전체 너비 */
  padding: 120px 0 120px 0;
  .tableContainer {
    width: 880px;
  }
  .btnWrap {
    @include flex;
    column-gap: 20px;
    padding-top: 120px;
    .btn {
      @include btnform;
      width: 188px;
      height: 42px;
      border: 1px solid transparent;
      border-radius: 3px;
      background-color: #1363df;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
    }
    .btn:hover {
      background: #003B97;
    }
  }
}
.modalBtn {
  width: 960px;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  .closeBtn{
    width: 140px;
    height: 42px;
    border-radius: 3px;
    border: 1px solid #B6BDC4;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: center;
    color: #AAAAAA;
  }
}

/* 화상채팅 모달창 스타일 */
.modalOverlayStyle {
  position: "fixed";
  top: 0;
  left: 0;
  width: "100%";
  height: "100%";
  background-color: "rgba(0, 0, 0, 0.5)";
  display: "flex";
  justify-content: "center";
  align-items: "center";
  z-index: 1000;
};
 .modalContentStyle  {
  position: "relative";
  width: "80%";
  height: "80%";
  background: "#fff";
  border-radius: "10px";
  padding: "20px";
  background: "0 2px 10px rgba(0, 0, 0, 0.1)";
};

.closeButtonStyle  {
  position: "absolute";
  top: "10px";
  right: "10px";
  cursor: "pointer";
};

.iframeStyle  {
  width: "100%";
  height: "100%";
  border: "none";
};


