.companyCard {
  width: 208px;
  height: 240px;
  border-radius: 6px;
  border: 1px solid #e8ecf2;
  box-sizing: border-box;
  .thumbWrap {
    width: 100%;
    height: 84px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #000;
    img {
      width: 100%;
      height: 100%;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  }

  .infoWrap {
    padding: 14px 12.48px 20px;
    .top {
      .title {
        height: 17px;
        color: #000;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 19.09px;
      }
      .desc {
        width: 100%;
        color: #6c6c6c;
        font-size: 12px;
        line-height: 14.32px;
        max-height: 46px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 3; // 원하는 라인수
        -webkit-box-orient: vertical;
      }
      &.notype {
        .title {
          height: 38px;
          margin-bottom: 6px;
        }
      }
    }
    .bottom {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      row-gap: 6px;
      margin-top: 21px;
      .row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        column-gap: 5px;
        .info {
          font-size: 9px;
          color: #6c6c6c;
          span {
            color: #1363df;
          }
        }
      }
    }
  }
}
