@import "@/styles/variable.scss";

.fnbContainer {
  width: 100%;
  height: 444px;
  background-color: #f8f9fa;
  position: absolute;
}
.fnbWrap {
  width: 880px;
  margin: 0 auto;
  padding: 35px 0 86px;
  .top {
    @include flex;
    @include sb;
    margin-bottom: 40px;
    .left {
      @include flex;
      @include sb;
      column-gap: 50px;
      div {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.71px;
        color: #222;
        cursor: pointer;
        &:hover {
          font-weight: 800;
        }
      }
    }
    .right {
      @include flex;
      @include sb;
      column-gap: 50px;
      div {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.71px;
        color: #222;
        cursor: pointer;
        &:hover {
          font-weight: 800;
        }
      }
    }
  }
  .bottom {
    @include flex;
    @include sb;
    flex-wrap: nowrap;
    column-gap: 27px;
    .left {
      .quickMenu {
        @include flex;
        @include col;
        @include fs;
        @include top;
        row-gap: 14px;
        margin-bottom: 80px;
        .menuItem {
          font-size: 16px;
          line-height: 19.09px;
          color: #222;
          cursor: pointer;
          &:hover {
            font-weight: 800;
          }
        }
      }
      .contactInfo {
        font-size: 13px;
        font-weight: 400;
        line-height: 16.71px;
        color: #222;
      }
    }
    .right {
      .companyInfo {
        @include flex;
        @include col;
        @include fs;
        @include top;
        row-gap: 10px;
        margin-bottom: 40px;
        .company {
          @include flex;
          @include fs;
          max-width: 587px;
          .infoTxt {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            &.divide {
              @include flex;
              @include fs;
              &::after {
                content: "|";
                color: #e8ecf2;
                margin: 0 8px;
              }
            }
          }
        }
      }
      .warningInfo {
        max-width: 587px;
        margin-bottom: 26px;
      }
      .logo {
        @include background;
        width: 104px;
        height: 40px;
        background-image: url("/images/series0-logo-black.png");
        margin-left: auto;
        cursor: pointer;
      }
    }
  }
}
